.big-fs
    font-size: $fs-5
    line-height: 1.22
    @include respond(big-phone)
        font-size: $fs-4
    @include respond(phone)
        font-size: $fs-6

.bright-headline
    color: $color-green

.mt
    margin-top: 1.6rem
